*{
  margin: 0;
  text-align: center;
}
html{
  overflow-y: scroll;
  font-family: 'Hind', sans
}
body{
  background-color: #D6D6D6;
}
main{
  width: 960px;
  margin: auto;
  background-size: 100% 100%;
  background-color: white;
}
